<h2>Lista de Pontos</h2>
<hr />
<a href="/usuarios/registro">
  <button class="btn btn-success">Novo Usuário</button></a>
<hr />
{{#each pontos}}
<div class="card mt-4">
  <div class="card-body">
    <h4>Matrícula: {{matricula}}</h4>
    <small>Entrada: {{aberto}}</small>
    <small>Data de registro: {{datalancamento}}</small>
    <br />
    <small>Saída : {{fechado}}</small>
    <small>Data de Fechamento:{{moment sampledate format="dddd, DD MMMM YYYY HH:mm:ss ZZ"}}{{datafechamento}}{{/moment}}</small>
    {{!-- <time datetime={{date format="dd/MM/yyyy HH:mm:ss" }}>{{datafechamento}} </time> --}}
  </div>
</div>
{{else}}
<h4 class="mt-03"> Nenhuma usuário registrado!</h4>

{{/each}}